<div class="card mb-3 w-100">
    <div class="row no-gutters">
        <div class="col-sm-9">
            <div class="card-body d-flex flex-column h-100">
                <h4 class='author'>{{answer.user}}</h4>
                <p>{{ answer.content }}</p>
                <div class="like-container">
                    <button class="btn badge badge-success like-button ml-auto">Like</button>
                    <span class="like-count">{{answer.likes}}</span>
                    <p>Created: {{ answer.created }}</p>
                </div>
            </div>
        </div>
    </div>
</div>