<div class="card mb-3 w-100">
    <div class="row no-gutters">
        <div class="col-sm-9">
            <div class="card-body d-flex flex-column h-100">
                <h4 class='author'>{{question.author}}</h4>
                <h5 class="card-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
                <div class="mt-auto d-flex flex-row">
                    <div class="mr-2">
                        <a href="{% url 'question' question.id %}"><button
                                class="btn badge badge-secondary ml-auto">Answers</button></a>
                        <button class="btn badge badge-secondary ml-auto">{{ question.tag }}</button>
                    </div>
                </div>
                <div class="like-container">
                    <button class="btn badge badge-success like-button ml-auto">Like</button>
                    <span class="like-count">3</span>
                </div>
            </div>
        </div>
    </div>
</div>