{% extends 'main.html' %}

{% block content %}

<div class="row">


    <div class="col-lg-10 ml-right">
        <div class="col-12 mt-3 d-flex align-items-center">
            <h2 class="mb-0 mr-2">Question</h2>
        </div>
        <div class="card mb-3 w-100">
            <div class="row no-gutters">
                <div class="col-sm-9">
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class='author'>MrDzhofik</h4>
                        <h5 class="card-title"><a href="{% url 'question' %}">Which language to learn first: Abkhazian
                                or
                                Python?</a></h5>
                        <p>Studying Python is important because this programming language allows for the development of
                            a wide range of applications, automating tasks, and creating analytical tools, significantly
                            expanding opportunities in the field of programming and information technology. Python is
                            also widely used in the areas of artificial intelligence, data science, and web development,
                            making it a valuable tool for modern professionals and students. Studying the Abkhaz
                            language offers the opportunity to immerse oneself in the rich culture and history of the
                            Abkhaz people, fostering mutual understanding and tolerance between cultures. Additionally,
                            knowledge of Abkhaz can be beneficial when visiting the region and interacting with its
                            inhabitants, promoting deeper integration and exchange of experiences.</p>

                        <div class="mt-auto d-flex flex-row">
                            <div class="mr-2">
                                <button class="btn badge badge-secondary ml-auto">Python</button>
                            </div>

                        </div>
                        <div class="like-container">
                            <button class="btn badge badge-success like-button ml-auto">Like</button>
                            <span class="like-count">3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3 d-flex align-items-center">
            <h3 class="mb-0 mr-2">Answers</h3>
        </div>
        <div class="card mb-3 w-100">
            <div class="row no-gutters">
                <div class="col-sm-11">
                    <div class="card-body d-flex flex-column h-100">
                        <div class="media mb-3">
                            <div class="media-body">
                                <h5 class='author'>Messi</h5>
                                <p>I would like to teach you Spanish</p>
                                <div class="mt-auto d-flex flex-row">
                                    <div class="mr-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="correctAnswerCheckbox">
                                            <label class="form-check-label" for="correctAnswerCheckbox">
                                                Correct Answer
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <button class="btn badge badge-success like-button ml-auto">Like</button>
                                    <span class="like-count">1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 w-100">
            <div class="row no-gutters">
                <div class="col-sm-11">
                    <div class="card-body d-flex flex-column h-100">
                        <div class="media mb-3">
                            <div class="media-body">
                                <h5 class='author'>Ronaldo</h5>
                                <p>Siiiuuu</p>
                                <div class="mt-auto d-flex flex-row">
                                    <div class="mr-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="correctAnswerCheckbox">
                                            <label class="form-check-label" for="correctAnswerCheckbox">
                                                Correct Answer
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <button class="btn badge badge-success like-button ml-auto">Like</button>
                                    <span class="like-count">1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 w-100">
            <div class="card-body">
                <h5 class="card-title">Your Answer</h5>
                <form action="{% url 'question'%}">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Write your answer here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Answer</button>
                </form>
            </div>
        </div>
        <a href="{% url 'home' %}"><button class="btn btn-warning">Back</button></a>

        <nav aria-label="Answers navigation example" class="d-flex justify-content-start">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{% url 'question' %}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'question' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'question' %}">Next</a></li>
            </ul>
        </nav>
    </div>

</div>


{% endblock content %}